[project]
name = "plus_sync"
dynamic = ["version"]
description = "Convenient command line tool to sync all kind of data."
readme = "README.md"
authors = [{name = "Thomas Hartmann", email = "thomas.hartmann@th-ht.de"}]
requires-python = ">= 3.9"
dependencies = ['paramiko', 'attrs', 'cattrs', 'attrs-strict', 'tomlkit', 'typer', 'python-gitlab', 'tqdm', 'joblib', 'quickxorhash']
license = { text = "GPL-3.0" }

[project.scripts]
plus_sync = "plus_sync.cmd:app"


[build-system]
requires = ["hatchling", "hatch-regex-commit"]
build-backend = "hatchling.build"

[tool.pixi.project]
channels = ["conda-forge"]
platforms = ["linux-64", "osx-64", "win-64", "osx-arm64"]

[tool.pixi.pypi-dependencies]
plus_sync = { path = ".", editable = true }
pytest-sftpserver = "*"
id = "*"

[tool.pixi.tasks]
test = "pytest --cov=plus_sync --cov-report=lcov"
ruff = "ruff format && ruff check --fix"
ruff_ci = "ruff check"
build = { cmd = "hatch build", depends-on = ["ruff_ci", "test"] }

[tool.pixi.dependencies]
hatch = ">=1.12.0,<1.13"
hatch-vcs = ">=0.4.0,<0.5"
ipython = ">=8.25.0,<8.26"
ipykernel = ">=6.29.4,<6.30"
ruff = ">=0.4.9,<0.5"
pre-commit = ">=3.7.1,<3.8"
pytest = ">=8.2.2,<8.3"
factory_boy = ">=3.3.0,<3.4"
pytest-cov = ">=5.0.0,<5.1"

[tool.hatch.version]
source = "regex_commit"
path = "plus_sync/__version__.py"
tag_sign = false

[tool.hatch.envs.hatch-test]
extra-dependencies = [
    "factory_boy",
    "pytest-sftpserver"
]

[tool.ruff]
line-length = 120

[tool.ruff.lint]
extend-select = [
    'E',
    'W',
    'I',
    'UP',
    'C90',
    'N',
    'PTH',
    'SIM',
    'TCH',
    'PL'
]

[tool.ruff.format]
quote-style = 'single'
