/*colour palette */
:root {
  --dark-grey: #1c1b1a;
  --orange: #ff7300;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--dark-grey);
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 14px 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

.navbar a:hover {
  color: var(--orange);
}

.navbar .logo {
  flex: 1;
  font-size: 2rem;
}

.navbar .logo:hover {
  color: var(--orange);
}

.navbar .menu {
  display: flex;
  font-size: 4rem;
}

.page-content-container {
  margin-left: 15vw;
  margin-right: 15vw;
}
