[project]
name = "struct-types"
version = "0.1.0"
description = "Static + runtime class declaration level structural types/interface validation"
authors = [
    { name = "gekkotadev", email = "114091010+GekkotaDev@users.noreply.github.com" },
]
dependencies = []
requires-python = ">=3.12"
readme = "README.md"
classifiers = [
    "Development Status :: 3 - Alpha",
    "License :: OSI Approved :: Apache Software License",
    "Typing :: Typed",
]

[project.license]
text = "Apache-2.0"

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"

[tool.pdm]
distribution = true

[tool.pdm.dev-dependencies]
dev = [
    "black>=24.4.2",
    "pytest>=8.3.1",
]
